*{
    margin: 0px;
    padding:0px;
}
.main{
    display: flex;
    height:90vh;
    overflow: hidden;
}

/*        LEFT-MAIN         */
.logo{
    width: 150px;
}
.section-1{
    color:white ! important;
    background-color: black ! important;
    text-decoration: none;
    
}

.section-1:hover{
    background-color: darkslategray;
}


.fav-section{
    text-decoration:none !important;
  color:white !important;
}
.fav-section>a:hover{
    background-color:darkslategray ;
}


.left-main{
       flex:2;
       background-color: black;
       overflow: hidden;
       position:fixed;
       width: 260px;
       justify-content: column;
       height:90%;

}


/*        RIGHT-MAIN         */

.right-main{
    flex:5;
    margin-left: 70px;
    width:80vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background: linear-gradient(to bottom,rgb(32, 31, 31), black);

}




/*        NAV-BAR         */


.right-section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    width: 96%;
    margin-top: 10px;
    margin-left:400px;
    margin-right:50px;
}

.circle{
    background-color: black;
    border-radius: 50%;
    height:40px;
    width:40px;
   margin-right: 10px;
   
}
.circle:hover{
    background-color: dimgrey;
}

.arrow{
    margin-left: 7px;
}

.top-right{
    border:none;
    border-radius:30% ;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-right:150px;
}

.my-picture{
    height:30px;
    width:30px;
    border-radius: 50%;
}

.top-right:hover{
    background-color: dimgrey;
}


/*        RIGHT-SECTION-1        */

.playlist-section{
    width:90%;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: none;
    margin-left: 300px;

}

.right-section-2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    Width:900px;
    Height:294px;
    padding-top: 30px;
    margin-left: 50px;
    padding-bottom: 10px;
    border: none;
    

}
.good-morning{
    opacity: 100;
   color:white;
   font-weight: bolder;
}



.cards-1{
    display:flex;
    flex-direction: row;
    gap:50px;
    justify-content: space-between;
    
}

.card-4{
    display:flex;
    margin-top:30px;
    height:auto;

}
.image-4{
    overflow: hidden;
    
}

.image-h-4{
    height: 80px;
}

h6{
    color: white !important;
}



/*        RIGHT-SECTION-2         */


.artist-area {
    width: 100%;
    margin-top: 10px;
    justify-content: left;

}

.right-section-3{
    display: flex;
    justify-content: space-between;
    
    padding-left:50px;
    padding-top: 10px;

}
.right-section-3>a{
    color:white;
    text-decoration: none;
    padding-right: 100px;
    
}

.right-section-3>a:hover{
    color:dimgrey;
    
}
.link-page2{
  color: white;
  text-decoration: none;
}

.cards-2{
    display: flex;
    width:70%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
    gap: 15px !important;
    
}
.cards-2-1{
    overflow: hidden;
    margin-block: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
   
}

.cards-2-1:hover{
  background-color: darkslategray;
}

.shows{
    color:white;
}


/*        FOOTER         */

.bottom{
  padding: 40px 10px;
  width: 100vw;
  height: 2vh;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom:0px;
 
}

/*        FOOTER-LEFT         */
.songName{
  display: flex;
  align-items: center;
  gap: 0.7rem;
  justify-content: space-between;
}
.songName>img{
  width: 60px;
  height:60px;
}
.songName>div>h2{
  font-size: 18px;
  color: whitesmoke;
}
.songName>div>p{
  font-size: 15px;
  color: whitesmoke;
}

.songs-list{
  margin-left:260px;
  
}

.small-gap{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.song-description{
  display: flex;
  
  justify-content:flex-start;
}



/*        FOOTER-MIDDLE         */
.playControls{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.playControls>.control{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.control>img{
  width: 25px;
}

.bar{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: whitesmoke;
  
}
.music-bar{
  width: 400px;
  
}

.bar-height{
  margin-bottom:20px;
}

.musichov{
 mix-blend-mode: screen;
 transition: all 0.2s ease-in;
}
.musichov:hover{
 box-shadow: 1px 1px 20px gray;
 cursor: pointer;
}

/*       FOOTER-RIGHT        */
.volume{
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.vol{
  width: 20px;
  mix-blend-mode: screen;
  transition: all 0.2s ease-in;
}

.black-spek{
  width: 45px;
}
.vol:hover{
 box-shadow: 1px 1px 10px gray;
 cursor: pointer;
}


/*        GREEN-LINE         */
.green-notice{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 20px;
  background-color: #1ED760;

}

 .phone{
   width: 100%;
   height: 15px;
   position: fixed;
   bottom: 0px;
   background-color: #1ED760;
 }
 .phone>p{
   font-size: 15px;
   font-weight: 700;
   padding-right: 50px;
   margin-left: 10px;
   margin-top: 15px;
   color: #000; 
 }
